/* make all the child element in the column order which is vertical ceter and horizontal center */
.flex-column-h-center-v-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-page-content {
    height: 100%;
    position: fixed;   /* make it fixed on the page */
    margin-top: -49px;    /* to make all the child elements in the center of page so need to offset the magin from #main-content */
}